body {
    background-image: url("../images/oceanbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h4, p {
text-align: center;}

#AboveBackPhoto{
background-color: #e6e6e6;
width: 80%;
height: 40%;
margin: auto;
border: double black;
z-index: 5;
}

#SampleText{
text-align: center;
}

#MainImage{
display: block;
width: 30%;
border: 3px solid black;
margin: auto;
}



